.widget .header {
    display: none !important;
}

.widget .container { 
    padding: 10px !important;
}

#points-expiration-v2 .points {
    color: #000 !important;
}

#points-expiration-v2 .container {
    padding: 10px 13px 10px 13px !important;
}

#points-expiration-v2 li {
    display: none !important;
}

#points-expiration-v2 li:nth-child(1) {
    display: flex !important;
}

#points-expiration-v2 li:nth-child(2) {
    display: flex !important;
}

#points-expiration-v2 li:nth-child(3) {
    display: flex !important;
}
