
.widget .header { 
    background-color: white !important;
    border-bottom: none !important;
    top: 15px !important;
}

.widget .header h1, .widget .header h3 { 
    color: black !important;
    font-family: 'Effra Heavy', sans-serif !important;
    font-size: 20px !important;
    text-transform: capitalize !important;
}

#poll-v2 .submit-container {
    float: left !important;
}

#poll-v2 .submit-container button {
    float: left !important;
    font-size: 14px !important;
    font-family: 'Effra Heavy', sans-serif !important;
    padding: 10px 10px !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    margin-top: 10px !important;
}

#poll-v2 .submit-container .points {
    font-size: 18px !important;
    margin: 20px 20px !important;
    font-family: 'Effra Medium', sans-serif !important;
}

#poll-v2 .description {
    display: none !important;
}

#poll-v2 hr {
    border: none !important;
}

#poll-v2 .question-container .question-text { 
    margin: auto !important;
    font-size: 18px !important;
    font-family: 'Effra Light', sans-serif !important;
}

#poll-v2 .question-type-radio label.answer-option-wrapper {
    font-size: 16px !important;
    font-family: 'Effra Medium', sans-serif !important;
    margin: 15px 0 !important;
}



#quiz-v2 .buttons__left .btn.btn-small, #quiz-v2 .progress {
    display: none !important;
}

#quiz-v2 .buttons__right .btn.btn-small {
    float: left !important;
    padding: 13px 36px !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    background-color: #00AF41 !important;
    border: 1px solid #00AF41 !important;
}

#quiz-v2 .buttons__right .btn.btn-small:hover {
    float: left !important;
    padding: 13px 36px !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    background-color: #009F3A !important;
    border: 1px solid #009F3A !important;
}

#quiz-v2 .questions {
    min-height: 180px !important;
}

#poll-v2 .success-message:first-child {
    display: none;
}
