
.widget .header { 
    background-color: white !important;
    border-bottom: none !important;
    top: 15px !important;
}

.widget .header h1, .widget .header h3 { 
    color: black !important;
    font-family: 'Effra Heavy', sans-serif !important;
    font-size: 20px !important;
    text-transform: capitalize !important;
}

#quiz-v2 .buttons__left .btn.btn-small, #quiz-v2 .progress {
    display: none !important;
}

#quiz-v2 .buttons__right .btn.btn-small {
    float: left !important;
    padding: 10px !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
}

#quiz-v2 .questions {
    min-height: 180px !important;
}

#ct-modal button {
    bottom: -47px !important;
}
#quiz-v2 .points-container .points{
    display: none;
}

#quiz-v2 .quiz-summary-container .question-summary {
    margin-top: 10px !important;
}

#quiz-v2 .points-container .success-message {
    display: none;
}

#quiz-v2 .notification-container {
    margin-top: 0px !important;
}