/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/**********
    iPad 3
    **********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    #activity-list-v2 {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}


/* Activity List ----------- */

#activity-list-v2 .activity {
    display: inline-grid;
    max-width: 350px;
    min-width: 250px;
    width: 100%;
    overflow: hidden;
    margin: 5px;
}

#activity-list-v2 .image-container {
    height: auto;
    width: auto;
    border-radius: initial;
}

#activity-list-v2 .image-container img {
    display: block;
    margin: auto;
    width: 267px;
    height: 235px;
}

#activity-list-v2 .info-container {
    max-width: initial;
    text-align: center;
    max-height: 150px;
    min-height: 100px;
}

#activity-list-v2 .activity .title {
    margin: 10px 0 10px 0;
}

#activity-list-v2 .activity .description {
    text-align: left;
}

#activity-list-v2 .ct-points-color {
    margin: 5px 0 5px 0;
}